.container {
  background-image: url("/src/image/back.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    width: 100vw;
    background-size: cover;
  }
}
